---
---

<header class="space-y-8 px-6 mt-8 sm:mt-16 lg:px-0 lg:space-y-6">
    <h1 class="text-2xl font-bold">
        Descubre el encanto oculto de los números
    </h1>
    <h3 class="text-lg w-full sm:w-2/3 lg:w-1/2">
        Matemágicos es tu destino para explorar las 
        matemáticas de manera emocionante y gratuita. 
        Con una amplia gama de recursos en línea y guías 
        detalladas, estamos aquí para todos los niveles de habilidad.
    </h3>
    <button 
        class="bg-white px-4 py-2 rounded-md font-semibold
        hover:scale-110 transition-transform"
    >
        Empezar
    </button>
</header>